<p>I am a data science leader motivated by data-driven decision making, especially when applied to environmental issues. I have experience in the field of fisheries economics, credit risk modelling, and leading data science teams.</p>

<p>I'm inspired by opportunity for open data and data science to change make meaningful change in our world. One can subscribe to my writings on these topics at <a href="https://opendatask.ca">opendatask.ca</a> and <a href="https://openfisheries.org">openfisheries.org</a>.</p>

<p>My wife, daughter, and I enjoy spending time outdoors as much as possible.</p>