---
layout: page
---

<div class="content-section-a">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>-->
<!--                    <h2 class="section-heading">{{ page.title }}</h2>-->
                <article class="post">
                  <h2>{{ page.title }}</h2>
                  <div class="date">
                    Written on {{ page.date | date: "%B %e, %Y" }}
                  </div>
                <br />
                  <div class="entry">
                    {{ content }}
                  </div>
                  <div class="comments">
                    {% include disqus.html disqus_identifier=page.disqus_identifier %}
                  </div>
                </article>
            </div>
        <!--</div>-->
        </div><!-- /.container -->
</div>

